{% load panels %}
{% load forms %}
<div class="container-fluid content-offset">
  <div class="row bg-lightblue">
    <div class="col-sm-4">
      <h3>
        <b>NAME: [[ patient.demographics[0].first_name ]] [[ patient.demographics[0].surname ]]</b>
      </h3>
    </div>
    <div class="col-sm-4">
      <h3>
        <b>AGE: [[ patient.demographics[0].date_of_birth | age ]]</b>
      </h3>
    </div>
    <div class="col-sm-4">
      <h3>
        <!-- <b>TIME IN TRIAGE: [[ patient.episodes[patient.active_episode_id].id ]]</b> -->
      </h3>
    </div>
  </div>

  <div class="row lead content-offset">
    <div class="col-sm-2">
      <b>Name:</b>
    </div>
    <div class="col-sm-10">
      <b>[[ patient.demographics[0].first_name ]] [[ patient.demographics[0].surname ]]</b>
    </div>
  </div>
  <div class="row lead">
    <div class="col-sm-2">
      <b>Gender:</b>
    </div>
    <div class="col-sm-10">
      <b>[[ patient.demographics[0].sex ]]</b>
    </div>
  </div>
  <div class="row lead">

    <div class="col-sm-2">
      <b>Village:</b>
    </div>
    <div class="col-sm-10">
      <b>[[ patient.demographics[0].birth_place ]]</b>
    </div>
  </div>
  <div class="row bg-grey">
    <h3>SYMPTOMS</h3>
  </div>
  <div class="row" ng-repeat="item in episode.presenting_symptoms">
    <h3 class="lead">
    <span ng-show="item.symptoms || item.duration || item.details">
      [[ item.symptoms.join(', ') ]]
      <span ng-show="item.duration || item.details  ">([[item.duration]]<span ng-show="item.details">. [[item.details]]</span>)</span>
      <br />
    </span>
    </h3>
  </div>

  <div class="row bg-grey">
    <h3>TREATMENT</h3>
  </div>

  <div class="row" ng-repeat="item in episode.drugs">
    <h3 class="lead">
      <span ng-show="item.no_antimicrobials">Not on antimicrobials</span>
      <span ng-show="item.start_date">[[item.start_date | shortDate]]-[[item.end_date | shortDate]]</span>
      [[item.drug]] [[item.dose]] [[item.route]] [[ item.frequency ]] [[item.delivered_by]]
    </h3>
  </div>


  <div class="row bg-grey">
    <h3>OBSERVATIONS</h3>
    {% include 'obs/detail_panel.html' %}
  </div>



</div>
